<h2>Añadir Comentario</h2>
<form method="post" action="/quizes/<%= quizId %>/comments">
  <input type="text" id="comment" name="comment[texto]" placeholder="Comente aquí..."/>
  <button type="submit">Enviar</button>
</form>
