<p>Proyecto realizado por Andrés Bayón para el curso de Desarrollo de servicios en la nube con HTML5, Javascript y node.js de MiriadaX.</p>
<img src="https://pbs.twimg.com/profile_images/565115127117008896/F4J3Xavl.png" alt="Andrés Bayón"/>
<p><a href="https://twitter.com/andres_bayon" target="_blank">Twitter del autor</a></p>
