<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet'
          type='text/css'
          media='only screen and (min-width: 530px) and (min-device-width: 481px)'
          href='/stylesheets/wide.css' />
    <link rel='stylesheet'
          type='text/css'
          media='only screen and (max-width: 480px)'
          href='/stylesheets/smartphone.css' />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <% if (!session.user) { %>
          <span class="right"><a href="/login">Login</a></span>
        <% } else { %>
          <span class="right"> <%= session.user.username %> <a href="/logout">Logout</a></span>
        <% } %>
        <h2>Quiz, el juego de las preguntas</h2>
      </header>
      <nav class="nav" role="navigation">
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/quizes">Preguntas</a></li>
          <li><a href="/quizes/statics">Estadísticas</a></li>
          <li><a href="/author">Créditos</a></li>
        </ul>
      </nav>
      <section>
        <% if (typeof errors !== 'undefined' && errors.length!==0 && errors) { %>
          <div id="err">
            Error:<br/>
            <ul>
            <% for (var i in errors) { %>
              <li><%= errors[i].message %> </li>
            <% } %>
            </ul>
          </div>
        <% } %>
        <%- body %>
      </section>
      <footer>
       <a href="https://github.com/elektropajo/quiz">Proyecto Quiz en GitHub</a>
      </footer>
    </div>
  </body>
</html>
