<label for="preg">Pregunta</label>
<input type="text" id="preg" name="quiz[pregunta]" placeholder="<%= quiz.pregunta %>" />

<label for="resp">Respuesta</label>
<input type="text" id="resp" name="quiz[respuesta]" placeholder="<%= quiz.respuesta %>" />

<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar" />
