<form method="get" action="/quizes">
  <input type="text" name="search" placeholder="Busque una pregunta" />
  <input type="submit" value="Buscar" />
</form>
<h2><%= search %></h2>

<% var i; for (i=0; i < quizes.length; i++) { %>
  <article><a href="quizes/<%= quizes[i].id %>"><h2><%= quizes[i].pregunta %></h2></a></article>
<% } %>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
